<!DOCTYPE html>
<html>
    <head>
        <title>BillMindr</title>
        <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
        <style type="text/css">
            body { padding-top: 70px; }
        </style>
    </head>
    <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="./index.html">BillMindr</a>
      </div></div>
</div>

    <div id="main-region" class="container">
    static content
    </div>

    <script type="text/template" id="static-template">
        <p>content rendered by Marionette</p>
    </script>
    <script type="text/template" id="account-template">
        <p><%= name %></p>
    </script>
    <script type="text/template" id="account-list-item">
        <td><%= name %></td><td><%= webSite %>
        <td>
            <a href="#accounts/<%= id %>" class="btn btn-default btn-sm js-show"><i class="glyphicon glyphicon-eye-open"></i> Show</a>
            <button class="btn btn-default btn-sm js-delete"><i class="glyphicon glyphicon-remove"></i> Delete</button>
        </td>
    </script>
    <script type="text/template" id="account-list">
        <thead>
            <tr><th>Name</th><th>Web Site</th><th>&nbsp;</th></tr>
        </thead>
        <tbody>
        </tbody>
    </script>
    <script type="text/template" id="account-view">
        <h1><%= name %></h1>
        <p><strong>Web Site:</strong> <%= webSite %></p>
    </script>
    <script type="text/template" id="missing-account-view">
        <div class="alert alert-danger">This Account does not exist!</div>
    </script>
    <script type="text/template" id="loading-view">
        <h1><%= title %></h1>
        <p><%= message %></p>
        <div id="spinner"></div>
    </script>

    <script type="text/javascript" src="./bower_components/marionette/public/javascripts/jquery.js"></script>
    <script type="text/javascript" src="./bower_components/marionette/public/javascripts/json2.js"></script>
    <script type="text/javascript" src="./bower_components/marionette/public/javascripts/underscore.js"></script>
    <script type="text/javascript" src="./bower_components/marionette/public/javascripts/backbone.js"></script>
    <script type="text/javascript" src="./bower_components/marionette/public/javascripts/backbone.babysitter.js"></script>
    <script type="text/javascript" src="./bower_components/marionette/public/javascripts/backbone.wreqr.js"></script>
    <script type="text/javascript" src="./bower_components/marionette/public/javascripts/backbone.augment.js"></script>
    <script type="text/javascript" src="./bower_components/backbone.localstorage/backbone.localStorage.js"></script>
    <script type="text/javascript" src="./bower_components/marionette/lib/core/backbone.marionette.min.js"></script>
    <script type="text/javascript" src="./bower_components/spinjs/spin.js"></script>
    <script type="text/javascript" src="./bower_components/spinjs/jquery.spin.js"></script>
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/apps/config/storage/localstorage.js"></script>
    <script src="./assets/js/entities/account.js"></script>
    <script src="./assets/js/common/views.js"></script>
    <script src="./assets/js/apps/accounts/accounts_app.js"></script>
    <script src="./assets/js/apps/accounts/list/list_view.js"></script>
    <script src="./assets/js/apps/accounts/list/list_controller.js"></script>
    <script src="./assets/js/apps/accounts/show/show_controller.js"></script>
    <script src="./assets/js/apps/accounts/show/show_view.js"></script>
    <script>
        BillMindr.start();
    </script>
    </body>
</html>
